.section__article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section__textblock_techs {
	flex-direction: column;
	max-width: 300px;
	margin: 0 0 50px 0;
	align-items: center;
}

.section__subtitle_techs {
	font-weight: 400;
	font-size: 30px;
	line-height: 36.31px;
	color: #ffffff;
	letter-spacing: -1px;
	text-align: center;
	margin: 0 0 16px 0;
}

.section__text_techs {
	font-weight: 400;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: -1px;
	color: #ffffff;
	margin: 0 0 0 0;
	text-align: center;
}

.section__tab {
	margin: 0 auto 70px auto;
	background-color: #202020;
}

.section__container_techs {
	display: grid;
	max-width: 178px;
	grid-template-columns: 84px 1fr;
	grid-template-rows: 57px 3fr;
	grid-gap: 10px;
	grid-auto-rows: 57px;
	margin: 0 auto 70px auto;
}

.section__block_techs {
	background-color: #303030;
	border-radius: 10px;
	color: #ffffff;
}

.section__block_text-techs {
	font-weight: 400;
	font-size: 12px;
	line-height: 14.52px;
	letter-spacing: -1px;
	margin: 21px 0;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.section__article {
		justify-content: center;
	}

	.section__textblock_techs {
		max-width: 460px;
		margin: 0 0 83px 0;
	}

	.section__subtitle_techs {
		font-size: 50px;
		line-height: 58px;
		margin: 0 auto 22px auto;
	}

	.section__text_techs {
		font-size: 12px;
		line-height: 18px;
	}

	.section__container_techs {
		max-width: 648px;
		grid-template-columns: repeat(7, 84px);
		grid-template-rows: 57px;
	}
}

@media screen and (min-width: 1280px) {
	.section__head_techs {
		padding-top: 100px;
		margin: 0 0 90px 0;
	}

	.section__textblock_techs {
		margin: 0 0 100px 0;
	}

	.section__text_techs {
		font-size: 14px;
		line-height: 20px;
		margin: 0;
	}

	.section__container_techs {
		max-width: 690px;
		grid-template-columns: repeat(7, 90px);
		grid-template-rows: 60px;
		grid-gap: 10px;
		grid-auto-rows: 60px;
		margin: 0 auto 100px auto;
	}

	.section__block_text-techs {
		font-size: 14px;
		line-height: 16.94px;
	}
}
